@page
@{
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
    ViewBag.Title = "Session expired";
}

<h1>Session Expired</h1>
<p>Your session has timed out. Please <a href="/Login">log in</a> again.</p>
