@model UserLoginRequestVM
@using CCC.UI.ViewModels;

<script src="~/js/MD5.js"></script>
<style>
    .jconfirm-content-pane {
        height: auto !important
    }
</style>
<form id="frmChangePassword">
    @Html.HiddenFor(model => model.UserId, new { @id = "UserId" })
    @Html.HiddenFor(x => x.Salt)
    <div class="col-lg-12">
        <div class="modalContent">
            <div role="form">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="form-group">
                            <label for="inputsm">Existing Password</label>
                            <input type="password" asp-for="ExistingPassword" class="form-control" />
                            <span class="redColor" id="spExistingPassword"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="form-group">
                            <label for="inputsm">New Password</label>
                            <input type="password" asp-for="Password" class="form-control" />
                            <span class="redColor" id="spPassword"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="form-group">
                            <label for="inputsm">Confirm Password</label>
                            <input type="password" asp-for="ConfirmPassword" class="form-control" />
                            <span class="redColor" id="spConfirmPassword"></span>
                        </div>
                    </div>
                </div>
                <div class="pull-right mb10">
                    <button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">
    //$(document).ready(function () {
    //    $("#frmChangePassword #Email").keyup(function () { $("#spnError").hide(); });
    //});


    $('#frmChangePassword').submit(function (e) {
        debugger;
        $("#spnError").html('').hide();
        e.preventDefault();

        var newPassword = $("#Password").val();
        var confirmPassword = $("#ConfirmPassword").val();

        if (newPassword != confirmPassword) {
            $("#spConfirmPassword").text('Password not matched');
            return false;
        } else {
            $("#spConfirmPassword").text('');
        }

        var password = $("#ExistingPassword").val();
        var salt = $("#Salt").val();
        var hash = MD5(password);
        var hashedPwd = MD5(salt + hash);
        $("#ExistingPassword").val(hashedPwd);


        $.ajax({
            url: '@Url.Action("ChangePassword", "Login")',
            data: $(this).serialize(),
            type: 'POST',
            success: function (data) {
                if (data.IsSuccess == true) {
                    $("#ExistingPassword").val('');
                    $("#Password").val('');
                    $("#ConfirmPassword").val('');
                    successMsgWithCallBack(data.message,logoutAfterChange);
                }
                else {
                    $("#ExistingPassword").val('');
                    $("#spExistingPassword").text(data.message);                   
                }
            }
        });
    });
    function logoutAfterChange() {
        var url = '@Url.Action("Login", "Login")';
        document.location.href = url;
    }
</script>