@using CCC.UI.ViewModels
@model SearchPetData
@{
    ViewData["Title"] = "ManageCenterReport";
    Layout = "~/Views/Shared/_Layout.cshtml";

    SelectList lstCenter = ViewBag.lstCenter;
    SelectList lstMonth = ViewBag.lstMonth;
    SelectList lstYears = ViewBag.lstYears;
}

<link href="~/css/autocomplete.css" rel="stylesheet" />
@*<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>*@
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/js/jquery.btnswitch.js"></script>
<link href="~/css/jquery.btnswitch.min.css" rel="stylesheet" />
<link href="~/css/jquery-ui.css" rel="stylesheet" />

<link href="~/lib/bootstrap-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/lib/bootstrap-multiselect/bootstrap-multiselect.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#mydatatable").tableHeadFixer({ "head": true, "top": 1 });
        var langUrl = $("#LangUrl").val();
        var mytable = $('#mydatatable').dataTable({
            "ajax": {
                "url": "@Url.Content("~/Report/FillTableVetReportAsync")",
                "type": "POST",
                "error": function (x, y, z) {
                }
            },
            "dataSrc": function (json) {
                if (json.Columns != null && json.Columns.length > 0) {
                    for (var i = 0; i < json.Columns.length; i++) {
                        //if (json.Columns[i].ColName == "ShowName")
                        //    $(".filterShowName").val(json.Columns[i].ColValue);
                    }
                }
                if (json.IsResetPaging) {
                    mytable.fnPageChange(0);
                }
                return json.data;
            },
            "aaSorting": [[1, "asc"]],
            "pageLength": 50,
            "serverSide": true,
            "bStateSave": false,
            // "pagingType": "listbox",  //pagination type using pulgin
            "processing": true,
            "pagingType": "full_numbers",  //pagination type using pulgin
            "dom": '<"top"i>rt<"bottom"flp><"clear">',
            "filter": false,
            "oLanguage": {
                "oPaginate": {
                    "sFirst": "<i class='fa fa-angle-double-left'></i>",
                    "sPrevious": "«",
                    "sNext": "»",
                    "sLast": "<i class='fa fa-angle-double-right'></i>"
                }
            },
            //"sDom": 'lrtip',
            "bDeferRender": true,//hide the default search filter textbox by removing "f"
            "aoColumns":
                [
                    { "data": "VetName", "sName": "Vet Name" },
                    { "data": "totalSurgeryCount", "sName": "totalSurgeryCount" },
                    { "data": "totalComplicationCount", "sName": "totalComplicationCount" },
                    { "data": "complicationPercentage", "sName": "complicationPercentage" },
                    { "data": "totalDeathCount", "sName": "CenterId", "totalDeathCount": false },
                    { "data": "Month", "sName": "Month", "visible": false },
                    { "data": "Year", "sName": "Year", "visible": false }
                    
                ]
        });
        mytable.on('order.dt', function () { $('.dataTables_paginate,.dataTables_info').show(); });
        mytable.on('length.dt', function (e, settings, len) { $('.dataTables_paginate,.dataTables_info').show(); });

        $("#divDataTable_length").append($(".dataTables_info"));
        $("#divdataTables_info").append($(".dataTables_length"));
        $("#divdataTables_info").append($(".dataTables_paginate"));

        function fnGetDataForActivities() {
            var searchObj = new Object();
            searchObj.CenterId = $('#ddlCenter').val();
            searchObj.Month = $('#ddlMonth').val();
            searchObj.Year = $('#ddlYear').val();
            return searchObj;
        }

        function fnFilterActivities() {
            searchObj = fnGetDataForActivities();
            $("#mydatatable").dataTable().fnMultiFilter({
                "CenterId": searchObj.CenterId,
                "Month": searchObj.Month,
                "Year": searchObj.Year
            });
        }

        function clearfilter() {
            $('#pnlSearch').find('input:text').val('');
            $("#pnlSearch select").each(function () {
                $(this).val('');
            });
            fnFilterActivities();
        }

        $('#btnClear').click(function () {
            clearfilter();
        });


        $('#btnSearch1').click(function () {
            fnFilterActivities();
        });
    });

</script>

<div class="mainContent">
    <div class="conHeader">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="pull-left">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Vet Report</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="conInner">
        <div class="conInner">
            <div class="mobileFilter">
                <div class="hideShowfilter">
                    <div class="filterData mobilecofilters centerReportPage">
                        <div class="formGroupTop pos mobile4Lis" id="pnlSearch">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label>Center</label>
                                        <select asp-for="CenterId" asp-items="lstCenter" id="ddlCenter" class="form-control">
                                            <option value="">--All--</option>
                                        </select>
                                        <span id="spCenterId" class="redColor"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label>Month</label>
                                        <select asp-for="Month" asp-items="lstMonth" id="ddlMonth" class="form-control">
                                        </select>
                                        <span id="spMonth" class="redColor"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label>Year</label>
                                        <select asp-for="Year" asp-items="lstYears" id="ddlYear" class="form-control">
                                        </select>
                                        <span id="spYear" class="redColor"></span>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="form-group">
                                        <div class="row"></div><br />
                                        <div class="row">
                                            <button type="button" class="btn btn-primary btn-search" id="btnSearch1"><img src='@Url.Content("~/images/search.png")' /> </button>&nbsp;
                                            <button type="button" class="btn btn-default btn-clear" id="btnClear"><img src='@Url.Content("~/images/refresh.png")' /></button>
                                            <div class="userBoxFooter">
                                                <div class="pull-right">
                                                    <div class="form-group"></div>
                                                    <button type="button" class="btn btn-primary btn-search" id="btnExportExcel">
                                                        <svg width="14" height="14" fill="none" viewBox="0 0 14 14">
                                                            <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.375" d="M13 9v2.667A1.334 1.334 0 0 1 11.667 13H2.333A1.334 1.334 0 0 1 1 11.667V9m2.667-3.333L7 9m0 0 3.333-3.333M7 9V1"></path>
                                                        </svg>Export Excel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @*<div class="userBoxFooter">
            <div class="pull-right">
            <div class="form-group"></div>
            <button type="button" class="btn btn-primary btn-search" id="btnExportExcel">Export Exel</button>
            </div>
            </div>*@
        </div>
    </div>

    <div class="chkTBL">
        <div class="bulkImpLogHT mngEventpage mobileTablenowrap">
            <table id="mydatatable" class="table">
                <thead>
                    <tr>
                        <th>Vet Name</th>
                        <th>No. of Surgery (Sterilised)</th>
                        <th>No Of Complication</th>
                        <th>% Of Complication</th>
                        <th>No Of Deaths</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="divdataTables_info"></div>
    <div id="divDataTable_length"></div>
</div>

<script>
    $("#btnExportExcel").on('click', function () {
        var searchObj = new Object();
        var CenterId = $('#ddlCenter').val();
        var Month = $('#ddlMonth').val();
        var Year = $('#ddlYear').val();

        //if (CenterId == '' || CenterId == null || CenterId == undefined) {
        //    CenterId = 'All';
        //    return;
        //}

        var url = '@Url.Action("ExportVetReport", "Report")?CenterId=' + CenterId + '&selectedMonth=' + Month + '&selectedYear=' + Year;
        document.location.href = url;

    });
</script>












