@using CCC.UI.ViewModels
@model VanMasterRequest
@{
    ViewData["Title"] = "AddEditVan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery.alphanum/jquery.alphanum.min.js"></script>

<link href="~/lib/bootstrap-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/lib/bootstrap-multiselect/bootstrap-multiselect.js"></script>

<form id="AddEditVan" asp-action="AddEditVan" asp-controller="VanMaster" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(model => model.VanId, new { @id = "VanId" })
    <div class="mainContent">
        <div class="conHeader">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="pull-left">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Add/Edit Van</li>
                        </ol>
                    </div>
                    <div class="filterMenuIcon"></div>
                    <div class="pull-right mobileFilterMenu">
                        <ul class="headerListing">
                            <li class="active"> <a href="javascript:void(0);" onclick="BackToManage()"><span class="text">Back</span> <span class="icon iconUser">&nbsp;</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="conInner">
            <div class=" row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="pt20">Van Number<span class="redColor">*</span></label>
                                <div class="form-group2">
                                    <input asp-for="VanNumber" type="text" class="form-control" />
                                    <span asp-validation-for="VanNumber" class="redColor"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="pt20">Driver Name<span class="redColor">*</span></label>
                                <div class="form-group2">
                                    <input asp-for="DriverName" type="text" class="form-control" />
                                    <span asp-validation-for="DriverName" class="redColor"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="pt20">Mobile No<span class="redColor">*</span></label>
                                <div class="form-group2">
                                    <input asp-for="ContactNo" type="text" class="form-control" />
                                    <span asp-validation-for="ContactNo" class="redColor"></span>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="userBoxFooter">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary btnSearch" id="btnSubmit">Submit</button>
                            <button type="button" class="btn btn-primary btnSearch" id="btnCancel">Cancel</button>
                        </div>
                    </div>
                    <div class="bottomSpace">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $("#btnSubmit").on('click', function (e) {
        e.preventDefault();

        $('#AddEditVan').find('input:text').each(function () {
            $(this).val($.trim($(this).val()));
        });

        if ($('#AddEditVan').valid()) {
            var formAction = $('#AddEditVan').attr("action");
            var fdata = new FormData();
            var params = $('#AddEditVan').serializeArray();
            $.each(params, function (i, val) {
                fdata.append(val.name, val.value);
            });

            $.ajax({
                type: 'post',
                url: formAction,
                data: fdata,
                processData: false,
                contentType: false
            }).done(function (result) {
                if (result.isSuccess == true) {
                    showSuccessMsg('Success', BackToManage);

                } else {
                    showWarningMsg('something went wrong ');
                }
            });
        }
    });

 function BackToManage() {
        var url = '@Url.Action("ManageVan", "VanMaster")';
        document.location.href = url;
        }

        $("#btnCancel").on('click', function (e) {
        var url = '@Url.Action("ManageVan", "VanMaster")';
        document.location.href = url;
        });

</script>
